@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
}

body{
    background: rgb(245, 245, 245);
}

.swiper {
    width: 100%;
    height: 100%;
    margin: 0 20px;
    /* --swiper-pagination-color: '#fff'; */
  }

  .swiper-button-next, .swiper-button-prev{
    color: rgb(90, 90, 90);
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
  }